body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff8ef;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Navigation */
.logo {
    font-size: 1.4rem;
    padding: 10px 10px;
}

nav {
  background-color: #a7e0e2;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 60px;
  font-size: 1.2rem;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  opacity: 0.6;
}

nav a.active {
  color: #ff6fb1;
  font-weight: bold;
}

.page-title {
  text-align: center;
  margin-top: 40px;
  color: #e07ea5;
  font-size: 2.3rem;
  opacity: 0;
}

/* Log Review Button */
.log-container {
  text-align: center;
  margin: 20px;
}

#logBtn {
  background-color: #c7d86b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
  transform: scale(1);
}

#logBtn:hover {
  background-color: #aabf56;
  transform: scale(1.08);
}

/* Popup */
.popup {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.popup-content {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px;
  width: 400px;
  position: relative;
  animation: fadeScaleUp 0.4s ease forwards;
}



@keyframes fadeScaleUp {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}


.entries-container {
  margin: 40px auto;
  width: 80%;
}

.entry {
  background: #f7dce9;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  border-left: 5px solid #a7e0e2;
  opacity: 0;
  transform: translateY(30px);
}

.entry:hover {
  transform: translateY(-4px);
  transition: 0.3s;
}


.star {
  font-size: 1.5rem;
  color: #ccc;
  transition: 0.3s;
}

.star.filled {
  color: rgb(255, 233, 110);
  text-shadow: 0 0 8px rgb(219, 192, 37);
}

/* Delete Button */
.deleteBtn {
  margin-top: 10px;
  background: #ff6fb1;
  border: none;
  color: white;
  padding: 7px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.deleteBtn:hover {
  background: #e74a9d;
}

/* Header */
.diary-header {
  text-align: center;
  margin-top: 80px;
  color: #4f8a8b;
}

.diary-header h2 {
  font-size: 2rem;
}