
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff8ef;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #a7e0e2;
  padding: 1rem 2rem;
  text-align: center;
  border-bottom: 2px solid #92c7c9;
}

h1 {
  font-size: 2rem;
  margin: 0.3rem 0;
  color: #333;
}


main {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.review-log, .diary-library {
  background-color: #fdf3e7;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}

h2 {
  color: #f14fa8;
  font-size: 30px;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 5px;
}

input, textarea, button {
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem 0 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: inherit;
}

button {
  background-color: #a7e0e2;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #8fd3d6;
}

.review-type {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

#entries {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.entry {
  background-color: #f5f0e4;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 3px 6px rgb(24, 154, 177);
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.entry img {
  width: 130px;
  height: 180px;
  object-fit: cover;
  border-radius: 0.7rem;
  box-shadow: #8fd3d6;
}

.hidden {
  display: none;
}
