
.logo {
    font-size: 1.4rem;
    padding: 10px 10px;
}

nav {
  background-color: #a7e0e2;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 60px;
  font-size: 1.2rem;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a.active {
  color: #ff6fb1;
  font-weight: bold;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e3fbff;
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  padding: 2.5px;
  background-color: #a7e0e2;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #e98ab2;
  text-decoration: none;
  font-size: 1rem;
}
