.about-page {
  background-color: #fff8ef;
  color: #333;
  text-align: center;
  padding: 3rem 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.about-title {
  font-size: 2.8rem;
  color: #ff64a2;
  margin-bottom: 0.5rem;
  text-shadow: #ba386c
}

.about-subtitle {
  color: #5eb6b9;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

/* Card Styling */
.card {
  background: rgba(221, 246, 245, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 60px;
  box-shadow: 0 8px 20px rgba(38, 188, 215, 0.522);
  margin: 3.2rem auto;
  padding: 2rem;
  max-width: 850px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(231, 149, 175, 0.426);
}

h2 {
  color: #ff64a2;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-shadow: #ba386c;
}

p {
  line-height: 1.7;
  font-size: 1.1rem;
}

.values ul {
  list-style: none;
  padding: 0;
  line-height: 2;
  font-size: 1.1rem;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.team-member img {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 10px 25px rgb(96, 175, 188);
  transition: transform 0.4s ease;
}

.team-member img:hover {
  transform: scale(1.05);
}

.cta-btn {
  display: inline-block;
  background-color: #fb9dca;
  color: #ffffff;
  padding: 0.9rem 2.2rem;
  border-radius: 2rem;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-btn:hover {
  background-color: #ff70a9;
  color: #fff;
}
